<style>
table,
td {
  border: 0.5px dashed #333;
}
thead > * {
    background-color: lightgray;
    color: white;
    border: none;
}
</style>
<table>
  <thead>
    	<tr>
          <th colspan="10">Estates</th>
    	</tr>
    	<tr>
            <td>Name</td>
          	<td>AddressNumber</td>
            <td>AtFloor</td>
            <td>Floors</td>
          	<td>Balconies</td>
            <td>Bedrooms</td>
            <td>Bathrooms</td>
          	<td>Parking</td>
          	<td>PetsAllowed</td>
            <td>Description</td>
    	</tr>
  </thead>
  
  <tbody>
  {{ range . }}
     <tr>
            <td>{{ .Name }}</td>
            <td>{{ .AddressNumber }}</td>
            <td>{{ .AtFloor }}</td>
            <td>{{ .Floors }}</td>
          	<td>{{ .Balconies }}</td>
            <td>{{ .Bedrooms }}</td>
            <td>{{ .Bathrooms }}</td>
          	<td>{{ .Parking }}</td>
            <td>{{ if eq .PetsAllowed 1 }}Yes{{ else }}No{{ end }}</td>
            <td>{{ .Description }}</td>
    	</tr>
  {{ end }}
  </tbody>
</table>
